.backgroundescena{
	-fx-background-image: url('../sprites/FondoMenuPrincipal.jpeg');
}

.textomainprincipal{
    -fx-color: black;
    -fx-font-size: 70.0px; 
    -fx-font-family: Algerian; 
    -fx-text-fill: black; 
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;
    -fx-font-weight: 800;
   
}

.textosubmainprincipal{
    -fx-color: black;
    -fx-font-size: 25.0px; 
    -fx-font-family: Algerian; 
    -fx-text-fill: black; 
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;
    -fx-font-weight: 800;
    
}

.boton {
    -fx-background-image: url('../sprites/FondoBoton.png'); 
    -fx-text-fill: WHITE;
    -fx-font-family: Algerian; 
    -fx-font-weight:bold;
    
    -fx-border-width:1.0,5.0px;
    -fx-padding: 5.0px 5.0px; 
    -fx-min-width:200.0px;
    -fx-min-height:50.0px;
    -fx-cursor: hand;
    -fx-border-radius: 200.0px;
    -fx-font-size:16.0;  
}


.boton:hover {
    -fx-background-image: url('../sprites/FondoCesped.jpg'); 
    -fx-text-fill: white;
    -fx-font-family: Algerian; 
    -fx-font-weight:bold;
  
    -fx-border-width:1.0,5.0px;
    -fx-padding: 5.0px 5.0px; 
    -fx-min-width:200.0px;
    -fx-min-height:50.0px;
    -fx-cursor: hand;
    -fx-border-radius: 100.0px;
    -fx-font-size:16.0;  
    
}


.boton:pressed {
     
}






